global:
  mothership-reconciler:
    enabled: true
  component-reconcilers:
    enabled: true
  database:
    manageSecrets: true
    embedded:
      enabled: true
      reconciler:
        name: "reconciler"
      #TODO remove below after migration to separate user will be done
      reconcilerDBName: "reconciler"
  image:
    repository: eu.gcr.io/kyma-project/incubator/reconciler
    pullPolicy: IfNotPresent
    tag: PR-336
  components: []

# TODO https://github.com/kyma-incubator/reconciler/issues/53
#  istio:
#    gateway:
#      name: "kyma-gateway"
#      namespace: "kyma-system"
#    proxy:
#      port: 15020
#  oathkeeper:
#    host: ory-oathkeeper-proxy.kyma-system.svc.cluster.local
#    port: 4455
