# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @tobiscr @pbochynski @varbanv @rJankowski93 @suleymanakbas91 @m00g3n @dbadura @pPrecel @kwiatekus @moelsayed @clebs

# All .md files
*.md @kazydek @klaudiagrz @mmitoraj @majakurcius @alexandra-simeonova @superojla @nhingerl

# Ory reconciler
/pkg/reconciler/instances/ory/ @strekm @werdes72 @Tomasz-Smelcerz-SAP @mjakobczyk @dariusztutaj @cnvergence @veichtj @piotrkpc

# Istio reconciler
/pkg/reconciler/instances/istio/ @strekm @werdes72 @Tomasz-Smelcerz-SAP @mjakobczyk @dariusztutaj @cnvergence @veichtj @piotrkpc

# Eventing reconciler
/pkg/reconciler/instances/eventing/ @lilitgh @k15r @nachtmaar @marcobebway @radufa @sayanh @pxsalehi @mfaizanse

# Serverless reconciler
/pkg/reconciler/instances/serverless/ @m00g3n @pPrecel @dbadura @rJankowski93

# Busola migrator reconciler
/pkg/reconciler/instances/busolamigrator/ @m00g3n @pPrecel @dbadura @tgorgol @rJankowski93

# Rafter reconciler
/pkg/reconciler/instances/rafter/ @m00g3n @pPrecel @dbadura @rJankowski93

# Connectivity Proxy reconciler
/pkg/reconciler/instances/connectivityproxy/ @akgalwas @janmedrek @franpog859 @Maladie @rafalpotempa @koala7659 @ralikio

# Runtime Monitoring Agent (rma) reconciler
/pkg/reconciler/instances/rma/ @ebensom @AdrianPei @fhivemind @lauraanddola @life0215 @lumi017 @Balazs23 @tobiscr @varbanv
