# These are the default owners for the whole content of the repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-incubator/jellyfish

# Ory reconciler
/pkg/reconciler/instances/ory/ @strekm @werdes72 @dariusztutaj @barchw @videlov @triffer

# Istio reconciler
/pkg/reconciler/instances/istio/ @strekm @werdes72 @dariusztutaj @barchw @videlov @triffer

# Eventing reconciler
/pkg/reconciler/instances/eventing/ @kyma-incubator/eventing

# Serverless reconciler
/pkg/reconciler/instances/serverless/ @m00g3n @pPrecel @dbadura @kwiatekus

# Connectivity Proxy reconciler
/pkg/reconciler/instances/connectivityproxy/ @akgalwas @koala7659 @m00g3n @mvshao @VOID404 @Disper

# Runtime Monitoring Agent (rma) reconciler
/pkg/reconciler/instances/rma/ @ebensom @life0215 @lumi017 @tobiscr

# All .md files
*.md @mmitoraj @nhingerl @grego952 @IwonaLanger @nataliasitko
